<!DOCTYPE html>
<html>
  <head>
    <title>Week</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Week</h1>
      <form method="POST" action="{{ url_for('get_data') }}">
        <div class="form-group">
          <label for="group">Group:</label>
          <select class="form-control" id="group" name="group" onchange="this.form.submit()">
            {% for group in groups %}
			 <option value="none" selected disabled hidden>Select an Option</option>

              <option value="{{ group[0] }}">{{ group[0] }}</option>
            {% endfor %}
          </select>
        </div>
      </form>
      {% if rows %}
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>جنسیت</th>
                <th>نام</th>
                <th>فامیل</th>
                <th>جز </th>
                <th>تعداد صلوات</th>
                <th>موبایل</th>
                <th>Group</th>
              </tr>
            </thead>
            <tbody>
              {% for row in rows %}
                <tr>
                  <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td>{{ row[3] }}</td>
                  <td>{{ row[4] }}</td>
                  <td>{{ row[5] }}</td>
                  <td>{{ row[6] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% elif selected_group %}
        <p>No data available for group {{ selected_group }}</p>
      {% endif %}
    </div>
  </body>
</html>
