<!DOCTYPE html>
<html>

<head>
  <title>Week</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" ></script>

  <script>
    $(document).ready(function () {
      // Update juz for all rows in the database
      $("#update-juz-btn").click(function update_data() {
        alert("درحال اضافه کردن به جز افراد ")
        var new_juz = $("#juz-input").val();
        var group = document.getElementsByTagName("td")[6].innerText;
        $.ajax({
          type: "POST",
          url: "/update_data",
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          data: JSON.stringify({ "new_juz": new_juz, "group": group }),
          success: function () {
            // Reload the page to show updated data
            location.reload();
          },
          error: function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
          }
        });

      });

    });
  </script>
  
  <script>
    $(document).ready(function () {
      // Update juz for all rows in the database
      $("#come-backcount-juz-btn").click(function back_data() {
        alert("درحال برگرداندن جز افراد ")
        var back_juz = $("#juz-input").val();
        var group = document.getElementsByTagName("td")[6].innerText;
        $.ajax({
          type: "POST",
          url: "/back_data",
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          data: JSON.stringify({ "back_juz": back_juz, "group": group }),
          success: function () {
            // Reload the page to show updated data
            location.reload();
          },
          error: function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
          }
        });

      });

    });
  </script>  
<script>
  // copy final to clipboard
  function copyToClipboard() {
    var final = document.getElementById('final');
    var range = document.createRange();
    range.selectNode(final);
    window.getSelection().addRange(range);
    document.execCommand('copy');
    window.getSelection().removeAllRanges();
    // alert('Data copied to clipboard!');
    final.style.backgroundColor = "lightblue";
  }
</script>

<script>
  tinymce.init({
    selector: 'textarea#editor',
    skin: 'bootstrap',
    plugins: 'lists, link, image, media, emoticons',
    toolbar: 'emoticons h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help ',
    menubar: false,
  });

  function hide() {
  var x = document.getElementById("extra_description");

  if (x.style.display === "none") {
  x.style.display = "block";
} else {
  x.style.display = "none";
}   
}
</script>




  <style>
    span.pople {
      display: block;
      direction: rtl;
      text-align: right;
    }

    div#final {
    height: 80px;
    overflow: hidden;
}

  /* one way */
  .tox-notifications-container{
        visibility: hidden;
      }
  /* another way */
    .tox-notifications-container{
        display: none;
      }

  </style>


</head>

<body>
  <div class="container">
    <h1>Week</h1>

    <!-- row 1 -->
    <div class="row mt-3">
      <div class="col-md-3">
        <input type="text" class="form-control" id="juz-input" placeholder="New juz" value='{{ selected_group }}'>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary" id="update-juz-btn" onclick="update_data()">Update juz</button>
        <button class="btn btn-danger" id="come-backcount-juz-btn" onclick="back_data()">Come back</button>
      </div>
    </div>


    {% if rows %}
    <div class="table-responsive">
      <table class="table table-striped" id="data-grid">
        <thead>
          <tr>
            <th>جنسیت</th>
            <th>نام</th>
            <th>فامیل</th>
            <th>جز </th>
            <th>تعداد صلوات</th>
            <th>موبایل</th>
            <th>گروه</th>
          </tr>
        </thead>
        <tbody id="data-grid-body">
          {% for row in rows %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% elif selected_group %}
    <p>No data available for group {{ selected_group }}</p>
    {% endif %}


        <!-- Start پر کردن بالا و پایین -->
        <div class="container mt-4 mb-4">
          <!--Bootstrap classes arrange web page components into columns and rows in a grid -->
          <div class="row justify-content-md-center">
            <button type="submit" class="btn btn-primary" onclick="hide()">پر کردن بالا و پایین
            </button>
    
          </div>
        </div>
    
        <div class="container mt-4 mb-4">
          <!--Bootstrap classes arrange web page components into columns and rows in a grid -->
          <div class="row justify-content-md-center">
            
            <div class="col-md-12 col-lg-8" id = "extra_description" style="display: none;" >
              
                  <label>بالا</label>
                  <div class="form-group">
                      <textarea id="editor"></textarea>
                  </div>
                  <label>پایین</label>
                  <div class="form-group">
                      <textarea id="editor"></textarea>
                  </div>
    
                  
              </div>
          </div>
        </div>
        <!-- End پر کردن بالا و پایین -->

    <!-- Start final show  -->
    
    <div class="row mt-3">
      <div id="up"></div>
      <div class="col-md-12 border" id="final" >
        {% for row in rows %}
        <span class="pople" id="pople_show">جزء {{ row[3] }} ) {{ row[0] }} {{ row[1] }} {{ row[2] }} - {{ row[4] }}
          صلوات</span>
        {% endfor %}
      </div>
      <button class="btn btn-success mt-3" onclick="copyToClipboard()">Copy Data</button>
    </div>
    <!-- End final show  -->


    <!-- end container -->
  </div>
</body>

</html>